.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.input {
  height: 38px;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  padding: 8px;
}

a {
  text-decoration: none;
  color: rgb(25, 25, 25);
  transition: transform 0.5s;
  font-weight: 900;
}

a:hover {
  transform: scale(1.2);
}

.span {
  color: rgb(25, 25, 25);
  font-weight: 900;
}